html {
    color: white;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: url("#{resource['images/BTmosh.gif']}"), url("#{resource['images/BTmosh.gif']}"), url("#{resource['images/mkrainbow.gif']}");
    background-repeat: repeat-y, repeat-y, repeat-y;
    background-size: 200px, 200px, 71.5%;
    background-position: left, right, center;

}

body {
    background-color: black;
}

h2{
    padding-top: 0;
    margin-top: 0;
}


.custom-select {
    -webkit-appearance: none;
    height: 110px;
    width: 150px;
    border-radius: 5px;
    border-width: medium;
    border-color: cyan;
    padding-left: 10px;

    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 32px;

    /* Positions background arrow image */
    background: #fafafa url(#{resource['images/sailorbath.gif']});
    background-size: 100%;

}

.custom-input{
    height: 30px;
    width: 60px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    text-align: center;

    font-size: 20px;
    color:blackq;
    border-color: #ff00e8;
    border-radius: 5px;
    border-width: 2px;
    background-image: url(#{resource['images/trippin.gif']});
    background-size: auto 100%;
}


.smallbutton{
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: white;
    background: #cb3bff;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

    animation:bganim 5s infinite;
}
.smallbutton:hover {
    transition-duration: 0.2s;
    border: 4px solid aqua;
    background-color: white;
    animation: none;
    color: black;
}
.smallbutton.pushed{
    transition-duration: 0.2s;
    border: 4px solid aqua;
    background-color: white;
    animation: none;
    color: black;
}
.submitButton {
    background: #cb3bff;
    border: 4px solid white;
    border-radius: 12px;
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    -webkit-animation-delay: 2s;
    animation:bganim 5s infinite;
    box-shadow: 3px 5px white;
}

.submitButton:hover {
    transition-duration: 0.2s;
    border: 4px solid aqua;
    background-color: white;
    animation: none;
    color: black;
}

.submitButton:active {
    box-shadow: 1px 1px white;
    transform: translateY(4px) translateX(4px);
}
.myTable {
    margin-left: 200px;
    margin-right: 200px;
    /*border: 3px solid white;*/
    border-radius:10px;
}

.myResultTable{
    border-collapse: collapse;
    margin-left: 200px;
    margin-right: 200px;
    border: 3px solid white;
    border-radius:10px;
}

.myResultTable td{
    border: 3px solid white;
    border-radius:10px;
}




.myTableImaged {
    margin-left: 200px;
    margin-right: 200px;
    /*border: 3px solid white;*/
    border-radius:10px;
    background-image: url(#{resource['images/catchill.gif']});
    background-repeat: repeat-y;
    background-size: 25% auto;
}
th{
    border: 10px solid;
    border-color: #ff00e8;
    border-radius: 5px;
    background-image: url(#{resource['images/anidance.gif']});
    text-align: center;
}
.myTd {
    text-align: left;
    vertical-align: top;
    padding: 20px;
}
.myTdTime {
    text-align: left;
    vert-align: top;
    vertical-align: top;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    height: 200px;
    background-image: url(#{resource['images/wolverine.gif']});
    width: 30%;
}
.btTd {
    text-align: left;
    vertical-align: top;
    /*border: 1px solid white;*/
    padding: 20px;
}

img {
    border-radius: 10px;
}

.rainbow{
    animation: rainbow 3s infinite;
}

#b1{
    -webkit-animation-delay: 1s;
}
#b2{
    -webkit-animation-delay: 2s;
}
#b3{
    -webkit-animation-delay: 3s;
}
#b4{
    -webkit-animation-delay: 4s;
}
#b5{
    -webkit-animation-delay: 5s;
}

#result {
    margin-left: 200px;
    margin-right: 200px;
    border: 3px solid white;
    border-radius:10px;
    border-collapse: collapse;
    width: 60%;
}
#result th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #cb3bff;
    animation:bganim 5s infinite;
    color: white;
}
#result td, #customers th {
    border: 2px solid #ddd;
    padding: 8px;
}

#result tr:nth-child(even){background-color: #696969;}

#result tr:hover {background-color: #ff11ff;}

@keyframes rainbow{
    20%{color: #ff6492;}
    40%{color: #fbff61;}
    60%{color: #00ff00;}
    80%{color: #2afff0;}
    100%{color: #cb3bff;}
}
@-webkit-keyframes bganim
{
    20%{background: #ff6492;}
    40%{background: #fbff61;}
    60%{background: #00ff00;}
    80%{background: #2afff0;}
    100%{background: #cb3bff;}
}
