html {
    color: red;
}

body {
    /*background: white;*/
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100% !important;
    height: 100% !important;
    /*background-image: url("#{resource['img/IMG_2537']}");*/

}

.back_image {
    background-image: url("#{resource['img/IMG_2537.jpg']}");
}

#menu {
    background-color: #343b42 !important;
    border: none;

}

.logo {
    height: 50px;
    width: 100px;
    /*padding: 5px 0px;*/
    float: right;
}

.brand {
    font-size: 20px;
    color: #337ab7 !important;
    /*color: rgba(255, 255, 255, 0.7) !important;*/
    text-transform: uppercase;
    letter-spacing: 1px;
}

.header_link {
    float: right;
    color: rgba(255, 255, 255, 0.7) !important;
    vertical-align: top;
    background-color: #343b42 !important;
}

.header_link:hover {
    color: #337ab7 !important;
}


hr {
    margin-top: 0px;
    border-top: 1px solid blue;
}


footer {
    height: 50px;
    background-color: #f8f8f8;
    border: 1px solid #e7e7e7;
    margin-top: 20px;
}
