body {
    /*background: white;*/
    font-family: 'Open Sans', sans-serif !important;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    width: 100% !important;
    height: 100% !important;

}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0;
}

.reg_form {
    width: 400px;
    /*height: 500px;*/
    border: none;
}

.reg_form input {
    float: right;
}

.reg_form select {
    float: right;
}

.reg_form label {
    float: left;
    padding-bottom: 20px;
    color: lightgrey;
    font-size: 25px;
}

.black_bg {
    background: rgba(0, 0, 0, 0.7);
    color: lightgrey;
}

legend {
    color: lightgrey;
    font-size: 25px;
}

.common_button {
    background-color: #555555 !important; /* Green */
    text-transform: uppercase;
    border: none;
    color: white !important;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.common_button:hover {
    background-color: #4CAF50 !important; /* Green */
    /*color: white;*/
}

.common_link {
    text-transform: uppercase;
    float: left;
    vertical-align: top;
    font-size: 18px;
    padding-left: 15px;
    padding-top: 10px;
}

.common_table {
    width: 900px;
}

tr, th, td {
    background: rgba(0, 0, 0, 0.5) !important;
    color: lightgrey !important;
    text-align: center !important;
}

th {
    text-transform: uppercase;
    font-weight: bold;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
